body {
  margin: 0 25%;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #111111;
}
header {
  color: purple;
}
h1 {
  font-family: serif;
  border-bottom: 1px solid;
}

h2 {
  color: #0072aa;
  font-weight: normal;
  margin-bottom: 1px;
}

a {
  color: #0072aa;
  text-decoration: none;
}

p.date {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 1px;
}
